@charset "UTF-8";


.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */