@charset "UTF-8";


.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */