.blog-post {
  &:hover {
  	background: none;
  }
  img {
    height: auto !important;
    width: 100%;
    }
    h1 {
      font-size: 3em;
      margin-top: 6px;
    }
    h2 {
      font-size: 2em;
    }
    @include breakpoint("baby-bear") {
      font-size: .8em;
    
    }
    ul, ol {
    	margin: 0 0 20px;
    }
    ul, ol ul, ul ul {
      list-style: disc;
    }
    ul ul, ol ol, ul ol, ol ul {
      margin: 5px 0 0 22px;
    }
    li {
      margin: 0 0 7px 0;
    }
    a {
      color: $bluey;
      &:hover {
        color: lighten($bluey, 15%);
      }
    }
    p:nth-of-type(1)  {
        font-weight: bold;
        font-size: 1.2em;
      }
}